.habit {
  width: 100%;
  height: 2.5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.habit-name {
  font-size: 1.4rem;
  align-items: center;
  text-align: left;
  width: 150px;
}

.habit-counter {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: yellow;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 1.5rem 0 0;
}

.habit-button {
  background-color: transparent;
  outline: none;
  border: 0px;
  font-size: 1.8rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

.habit-increment {
  color: dodgerblue;
}

.habit-decrement {
  color: hotpink;
}

.habit-delete {
  color: orangered;
}
