header {
  height: 100px;
  background: green;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 36px;
  font-weight: 500;
  padding: 20px;
}

.leaf {
  font-size: 30px;
  color: greenyellow;
  transform: translate(0, 4px);
}

.header-counter {
  width: 38px;
  height: 38px;
  border-radius: 40px;
  background: yellow;
}

.header-counter {
  font-size: 28px;
  font-weight: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
